package @{.templateGroup}

import (
	"@{.importController}"
	"hotgo/internal/router/auto"
)

func init() {
	auto.LoginRequiredRouter = append(auto.LoginRequiredRouter, @{.templateGroup}.@{.varName}) // @{.tableComment}
}
